h1 {
   display: flex;
   justify-content: center;
}

button { 
    height: 100%;
    width: 100%;
    
    

}

h2 { 

    display: flex;
    justify-content: center;
}

card { 
    margin-left: 100px;
    margin-right: 100px;
}